body {
    font-family: helvetica neue,helvetica,sans-serif !important;
}

main {
    font-family: helvetica neue,helvetica,sans-serif !important;
}

.title,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: helvetica neue,helvetica,sans-serif !important;
}