body {
    font-family: helvetica neue,helvetica,sans-serif !important;
    --color-accent: black
}

body, 
.sidebar.toggled,
.sidebar-overlay,
.sidebar,
.sidebar.toggled .sidebar-overlay:after  {
    background-color: #f4f4f4 !important;
}


main {
    font-family: helvetica neue,helvetica,sans-serif !important;
}

.title,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: helvetica neue,helvetica,sans-serif !important;
}

a, 
.menu a,
.widget-social_menu a, 
ul li a {
    color: #0000EE !important;
    text-decoration: underline !important;
}