<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Caleb Jay Rogers">
    {{ block "metadescription" . }}
    <meta name="description" content="The personal blog of Caleb Jay Rogers, Software Engineer">
    {{ end }}
    <meta name="keywords" content="Caleb Rogers, Caleb Jay, komali_2, frontend, programming, writing">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/stylesheet.css">

    <title>
      {{ block "title" . }}
      {{ .Title }}
      {{ end }}
    </title>
  </head>
  <body>
    {{ block "header" . }}
    {{ partial "header" . }}
    {{ end }}
    {{ block "content" . }}
    You forgot to put content here bro.
    {{ end }}
    {{ partial "footer" . }}
    {{ partial "goatcounter" .}}
  </body>
</html>
