{{ define "content" }}
<section>
  <ul class="posts_list">
    {{ range $.Site.Taxonomies.categories.ByCount }}
    <li>
      <a href="/categories/{{ .Name }}">{{ .Name }}</a>, {{ .Count }}
    </li>
    {{ end }}
  </ul>
</section>
<section>
  <ul class="posts_list">
    {{ range $.Site.Taxonomies.tags.ByCount }}
    <li>
      <a href="/tags/{{ .Name }}">{{ .Name }}</a>, {{ .Count }}
    </li>
    {{ end }}
  </ul>
</section>
<section>
  <ul class="posts_list">
    {{ range .Pages }}
    <li>
          <time>{{ .Date.Format "Jan 2006" }}</time>
          <a href="{{ .URL }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
</section>
{{ end }}
