{{ define "header" }}
{{ partial "headerwithnavrss" . }}
{{ end }}
{{ define "content" }}
  <main>
    <h1>
      Recent Posts:
    </h1>
    <section>
      <ul>
        {{ range first 6 .Site.RegularPages }}
        <li>
          <time datetime="{{ .Date }}">{{ .Date.Format "Jan 2006" }}</time>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    </section>

  <h1>
    Categories:
  </h1>
  <ul>
    {{ range $.Site.Taxonomies.categories.ByCount }}
    <li>
      <a href="/categories/{{ .Name }}">{{ .Name }}</a>: {{ .Count }} posts
    </li>
    {{ end }}
  </ul>
  <h1>
    Tags:
  </h1>
  <ul>
    {{ range $.Site.Taxonomies.tags.ByCount }}
    <li>
      <a href="/tags/{{ .Name }}">{{ .Name }}</a>: {{ .Count }} posts
    </li>
    {{ end }}
  </ul>
<h1>
  All Posts:
</h1>
<section>
  <ul>
    {{ range .Site.RegularPages }}
    <li>
          <time datetime="{{ .Date }}">{{ .Date.Format "Jan 2006" }}</time>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
</section>
  </main>

{{ end }}
