<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
          <meta name="author" content="Caleb Jay Rogers">
          <meta name="description" content="The personal blog of Caleb Jay Rogers, Frontend Engineer">
          <meta name="keywords" content="Caleb Rogers, Caleb Jay, komali_2, frontend, programming, writing">
          <meta name="viewport" content="width=device-width,initial-scale=1">
          <link rel="stylesheet" href="/css/stylesheet.css">
          <title>{{.Title}}</title>
    </head>
    <body>
      <main>
        <header>
          <h1>{{ .Site.Title }}</h1>
          <h3>
            <small>
              Updated: <time datetime="2019-01-01">Jan, 2019</time>
            </small>
          </h3>
        </header>
