body {
  background-color: #f4f4f4;
  font-family: helvetica neue,helvetica,sans-serif;
}
main {
  margin-left: auto;
  margin-right: auto;
  max-width: 34em;
}
header {
  font-size: 2em;
}

h1 small, h2 small, h3 small, h4 small {
  display: block;
}

h3 small {
  font-weight: normal;
}

section {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

section small {
  font-weight: normal
}

section ul{
  display: grid;
  grid-template-columns: 30px 30px 30px;
  align-items: start;
  justify-items: start;
  grid-gap: 10px 5px;
  padding: 0px;
  justify-content: space-around;
  list-style-type: circle;
}

@media only screen {
  section ul {
    display: grid;
    grid-template-columns: 90%;
    align-items: start;
    justify-items: start;
    grid-gap: 10px 5px;
    padding: 0px;
    justify-content: space-around;
    list-style-type: circle;
  }

 } /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

@media only screen and (min-width: 40.063em) {
    section ul {
    display: grid;
    grid-template-columns: 45% 45%;
    align-items: start;
    justify-items: start;
    grid-gap: 10px 5px;
    padding: 0px;
    justify-content: space-around;
    list-style-type: circle;
  }
 } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

@media only screen and (min-width: 64.063em) {
  section ul{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  align-items: start;
  justify-items: start;
  grid-gap: 10px 5px;
  padding: 0px;
  justify-content: space-around;
  list-style-type: circle;
  padding: 0px 10px;
}
 } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */